@model IEnumerable<DB_Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="product-container">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <a asp-action="Details" asp-route-id="@item.ProductId" class="product-card-link">
                <div class="upper-card">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small/no-image-available-icon-vector.jpg" alt="Product IMG">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </a>
            <div class="lower-card">
                <a asp-action="Details" asp-route-id="@item.ProductId" class="product-card-link">
                    <p class="quantity">@Html.DisplayFor(modelItem => item.StockQuantity)</p>
                    <h3>@Html.DisplayFor(modelItem => item.Price) zł</h3>
                </a>
                <div class="button-group">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item?.ProductId" class=" btn btn-primary">AddToCart</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    a {
        text-decoration: none;
        color: inherit;
    }

        a:hover {
            text-decoration: none;
            color: inherit;
        }
</style>
<script>
    window.onload = function () {
        var quantities = document.getElementsByClassName("quantity");
        for (var i = 0; i < quantities.length; i++) {
            var quantityValue = parseInt(quantities[i].innerText, 10);
            if (quantityValue === 0) {
                var productCard = quantities[i].closest(".product-card");
                productCard.querySelector(".btn-add-to-cart").style.visibility = "hidden"; // Hide the button
                productCard.style.opacity = "50%"; // Reduce opacity for out-of-stock products
                productCard.classList.add("no-hover"); // Disable hover effects
            }
        }
    }
</script>


