@model IEnumerable<DB_Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="product-container">
    @foreach (var item in Model)
    {
            <div class="product-card">
            <a asp-action="Details" asp-route-id="@item.ProductId" class="product-card-link">
                <div class="upper-card">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small/no-image-available-icon-vector.jpg" alt="Product IMG">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </a>
                <div class="lower-card">
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="product-card-link">
                    <p>@Html.DisplayFor(modelItem => item.StockQuantity)</p>
                    <h3>@Html.DisplayFor(modelItem => item.Price) zł</h3>
            </a>
                    <div class="button-group">
                        <button class="btn-add-to-cart" onclick="addToCart(@item.ProductId, @item.StockQuantity)">Add to Cart</button>
                    </div>
                </div>
            </div>
    }
</div>
<style>
    a {
        text-decoration: none;
        color: inherit;
    }

        a:hover {
            text-decoration: none;
            color: inherit;
        }
</style>